#!/bin/sh
#/etc/init.d/mailcatcher
#

/opt/ruby-1.9.3-p545/bin/mailcatcher --ip={{ mailcatcher_ip }} --smtp-ip={{ mailcatcher_smtp_ip }} --smtp-port={{ mailcatcher_smtp_port }} --http-ip={{ mailcatcher_http_ip }} --http-port={{ mailcatcher_http_port }}